n8n-workflow-teilnehmer-sync.json
{
  "name": "F3 Joyclub Teilnehmer-Sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "30 6 * * *" }]
        }
      },
      "id": "schedule",
      "name": "Täglich 06:30",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "operation": "getAll",
        "projectId": "pu4jkb0uwe4ebev",
        "table": "mmvneegxgeltpav",
        "returnAll": false,
        "limit": 1,
        "where": "(Name,eq,F3-Events)"
      },
      "id": "get-cookies",
      "name": "Cookies aus NocoDB",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [220, 0],
      "credentials": { "nocoDb": { "id": "", "name": "NocoDB" } }
    },
    {
      "parameters": {
        "operation": "getAll",
        "projectId": "pu4jkb0uwe4ebev",
        "table": "mo0qnkmte1sl1mj",
        "returnAll": true,
        "where": "(Status,eq,aktiv)"
      },
      "id": "get-events",
      "name": "Aktive Events holen",
      "type": "n8n-nodes-base.nocoDb",
      "typeVersion": 3,
      "position": [440, 0],
      "credentials": { "nocoDb": { "id": "", "name": "NocoDB" } }
    },
    {
      "parameters": {
        "jsCode": "// Cookie-String aus dem ersten Node holen\nconst cookieItem = $('Cookies aus NocoDB').first();\nconst cookie = cookieItem.json.Cookie || '';\n\n// Jeden Event mit Cookie anreichern\nreturn $input.all().map(item => ({\n  json: { ...item.json, _cookie: cookie }\n}));"
      },
      "id": "attach-cookie",
      "name": "Cookie anhängen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "url": "={{ $json.EventLink }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Cookie",     "value": "={{ $json._cookie }}" },
            { "name": "User-Agent", "value": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36" },
            { "name": "Accept",     "value": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8" }
          ]
        },
        "options": { "timeout": 20000 }
      },
      "id": "fetch-event",
      "name": "Event-Seite abrufen",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "jsCode": "const html = $input.item.json.data || $input.item.json;\nconst htmlStr = typeof html === 'string' ? html : JSON.stringify(html);\n\nconst toInt = str => str ? parseInt(str.replace(/[^\\d]/g, ''), 10) : 0;\n\nconst angemeldetMatch  = htmlStr.match(/(\\d+)\\s*Personen angemeldet/)  || htmlStr.match(/>(\\d+)<[^>]*>\\s*Personen angemeldet/);\nconst nichtBestMatch   = htmlStr.match(/(\\d+)\\s*noch nicht bestätigt/) || htmlStr.match(/(\\d+)\\s*nicht bestätigt/);\nconst vorgemerktMatch  = htmlStr.match(/(\\d+)\\s*mal vorgemerkt/);\nconst aufrufMatch      = htmlStr.match(/(\\d+)\\s*Aufrufe/);\nconst maennerMatch     = htmlStr.match(/Männer[^(]*\\((\\d+)\\)/)         || htmlStr.match(/M.nner[^(]*\\((\\d+)\\)/);\nconst frauenMatch      = htmlStr.match(/Frauen[^(]*\\((\\d+)\\)/);\nconst paareMatch       = htmlStr.match(/Paare[^(]*\\((\\d+)\\)/);\n\n// Event-Coverbild aus og:image Meta-Tag extrahieren\nlet eventBildUrl = '';\nconst ogM = htmlStr.match(/property=\"og:image\"\\s+content=\"([^\"]+)\"/i)\n         || htmlStr.match(/content=\"([^\"]+)\"\\s+property=\"og:image\"/i);\nif (ogM && ogM[1] && ogM[1].startsWith('http')) eventBildUrl = ogM[1];\n\n// Event-ID und vorhandenes Bild aus vorherigem Item\nconst prevJson = $('Cookie anhängen').item.json;\nlet existingBild = '';\ntry {\n  const att = prevJson['Event-Bild'];\n  if (att) {\n    const p = typeof att === 'string' ? JSON.parse(att) : att;\n    if (Array.isArray(p) && p.length > 0) existingBild = p[0].signedPath || p[0].path || p[0].url || '';\n  }\n} catch(e) {}\n\nreturn [{ json: {\n  _id:             prevJson.Id,\n  Angemeldet:      angemeldetMatch  ? toInt(angemeldetMatch[1])  : 0,\n  NichtBestaetigt: nichtBestMatch   ? toInt(nichtBestMatch[1])   : 0,\n  Vorgemerkt:      vorgemerktMatch  ? toInt(vorgemerktMatch[1])  : 0,\n  Aufrufe:         aufrufMatch      ? toInt(aufrufMatch[1])      : 0,\n  Maenner:         maennerMatch     ? toInt(maennerMatch[1])     : 0,\n  Frauen:          frauenMatch      ? toInt(frauenMatch[1])      : 0,\n  Paare:           paareMatch       ? toInt(paareMatch[1])       : 0,\n  _eventBildUrl:   eventBildUrl,\n  _existingBild:   existingBild\n}}];"
      },
      "id": "parse-stats",
      "name": "Stats parsen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://nocodb.f3-events.de/api/v1/db/data/noco/pu4jkb0uwe4ebev/mo0qnkmte1sl1mj/{{ $json._id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "xc-token",     "value": "2l1BhPzXFj_Bb4pv9rKGpBMPZDkzpnKik7biab9-" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": "={{ JSON.stringify(Object.assign({ Angemeldet: $json.Angemeldet, NichtBestaetigt: $json.NichtBestaetigt, Vorgemerkt: $json.Vorgemerkt, Aufrufe: $json.Aufrufe, Maenner: $json.Maenner, Frauen: $json.Frauen, Paare: $json.Paare }, (!$json._existingBild && $json._eventBildUrl) ? {'Event-Bild': [{url: $json._eventBildUrl, title: 'Event Cover'}]} : {})) }}",
        "options": {}
      },
      "id": "update-nocodb",
      "name": "NocoDB: Stats speichern",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "chatId": "-1003592524930",
        "text": "=📊 Teilnehmer-Sync abgeschlossen!\n\n{{ $('Aktive Events holen').all().length }} Events aktualisiert\n🕐 {{ new Date().toLocaleTimeString('de-DE') }}",
        "additionalFields": {}
      },
      "id": "telegram-success",
      "name": "Telegram: Erfolg",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1540, 0],
      "executeOnce": true,
      "credentials": { "telegramApi": { "id": "", "name": "Telegram" } }
    }
  ],
  "connections": {
    "Täglich 06:30":       { "main": [[{ "node": "Cookies aus NocoDB",   "type": "main", "index": 0 }]] },
    "Cookies aus NocoDB":  { "main": [[{ "node": "Aktive Events holen",  "type": "main", "index": 0 }]] },
    "Aktive Events holen": { "main": [[{ "node": "Cookie anhängen",      "type": "main", "index": 0 }]] },
    "Cookie anhängen":     { "main": [[{ "node": "Event-Seite abrufen",  "type": "main", "index": 0 }]] },
    "Event-Seite abrufen": { "main": [[{ "node": "Stats parsen",         "type": "main", "index": 0 }]] },
    "Stats parsen":        { "main": [[{ "node": "NocoDB: Stats speichern", "type": "main", "index": 0 }]] },
    "NocoDB: Stats speichern": { "main": [[{ "node": "Telegram: Erfolg", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "meta": { "templateCredsSetupCompleted": false }
}
